*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(170, 140, 198);
}
.container{
    width: 690px;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
}
.wrapper{
    border: 1px solid #bbb;
    border-radius: 5px;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}
.text-input .to-text{
    border-left:1px solid #bbb;
    border-radius: 0px;
}
.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    border-radius: 5px;
    resize: none;
    padding: 10px 15px;
}
.controls, li,.icons , .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.controls{
    list-style: none;
    padding: 12px 15px;
}
.controls .row.from.icons{
    border-right: 1px solid #1f1e1e ;
    padding-right: 15px;
}

.controls .row.to.icons{
    border-left: 1px solid #bbb ;
    padding-left: 15px;
}

.controls .icons{
    width: 38%;
}
.controls .icons i{
    color: #9f9f9f;
    width: 50px;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}

.controls .row select{
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
}
.controls .exchange{
         color: #9f9f9f;
         font-size: 16px;
         cursor: pointer;
}
.container button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color:rgb(170, 140, 198) ;
    cursor: pointer;
    color: #fff;
    font-size:17px ;
    border-radius: 5px;
}